[package]
name = "pipecolor"
version = "0.4.2-pre"
authors = ["dalance@gmail.com"]
repository = "https://github.com/dalance/pipecolor"
categories = ["command-line-utilities", "value-formatting"]
license = "MIT"
readme = "README.md"
description = "A terminal filter to colorize output"
edition = "2018"

[badges]
travis-ci = { repository = "dalance/pipecolor" }
codecov   = { repository = "dalance/pipecolor", branch = "master", service = "github" }

[dependencies]
atty              = "0.2.8"
dirs              = "2.0.2"
error-chain       = "0.12.1"
memchr            = "2.0.1"
nix               = "0.10.0"
regex             = "0.2.10"
serde             = "1.0.33"
serde_derive      = "1.0.33"
structopt         = "0.2.5"
termion           = "1.5.1"
timeout-readwrite = "0.1.0"
toml              = "0.4.5"

[target.x86_64-unknown-linux-gnu.dependencies]
proc-reader = "0.4.0"

[target.x86_64-unknown-linux-musl.dependencies]
proc-reader = "0.4.0"

[package.metadata.release]
dev-version-ext            = "pre"
pre-release-commit-message = "Prepare to v{{version}}"
pro-release-commit-message = "Start next development iteration v{{version}}"
tag-message                = "Bump version to {{version}}"
tag-prefix                 = ""
